html{
  width:100%;
  height:100%;
}

body{
  font-family: 'Abel', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
}

button {
    outline: none;
}

.container{
  width: 100%;
  height: 100%;
  background-color: rgb(55, 55, 55);
}

#button-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.talk{
  -webkit-user-select: none;
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  color: white;
  background-color: black;
  border-radius: 20px;
  width: 30%;
  height: 50px;
  position: relative;
  border: 0px;
}

.talk:hover{
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(99, 99, 99);
  color: black;
}

.content-container{
  width: 80vw;
}

.content{
  color: white;
  font-size: 30px;
  height: 10vh;
  width: 100%;
  overflow: auto;
  text-align: center;
}

.content::-webkit-scrollbar {
  width: 0px;
}

.header{
  height:40vh;
}

.center{
  width:100%;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  float: left;
  height: 10vh;
  margin: 10px 0px;
}

/* Project Items */

#itm-row{
  height: 30vh;
  display: none;
}

.itm-container{
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
}

.itm-overflow{
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: inherit;
  width: 90%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.itm-overflow::-webkit-scrollbar{
  width: 0px;
}

.itm{
  flex: 0 0 auto;
  display: inline-block;
  margin: 0px 15px;
  width: 20vw;
  height: 100%;
  background-color: rgb(111, 111, 111);
}
