html{
  width:100%;
  height:100%;
}

body{
  font-family: 'Abel', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
}

button {
    outline: none;
}

img{
  height: inherit;
  width: 100%;
}

.container{
  width: 100%;
  height: 100%;
  background-color: rgb(55, 55, 55);
}

#button-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.talk{
  -webkit-user-select: none;
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  color: white;
  background-color: black;
  border-radius: 20px;
  width: 30%;
  height: 50px;
  position: relative;
  border: 0px;
}

.talk:hover{
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(99, 99, 99);
  color: black;
}

.content-container{
  width: 80vw;
  margin:auto;
}

.content{
  color: white;
  font-size: 30px;
  height: 10vh;
  width: 100%;
  overflow: auto;
  text-align: center;
}

.content::-webkit-scrollbar {
  width: 0px;
}

.header{
  height:40vh;
}

.center{
  width:100%;
}

/* .row{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  float: left;
  margin: 10px 0px;
} */

/* Project Items */

.front{
  width:100%;
  height: inherit;
}

.project-img{
  width: inherit;
  height: inherit;
}

/* .itm-container{
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
} */
/*
.itm-overflow{
  display: flex;
  justify-content: flex-start;
  width: 90%;
  overflow-x: scroll;
  overflow-y: hidden;
} */

.itm-overflow::-webkit-scrollbar{
  width: 0px;
}

.itm{
  flex: 0 0 auto;
  text-align: center;
  margin: 0px 15px;
  width: 300px;
  height: 200px;
  background-color: transparent;
  color: white;
  perspective: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* box-shadow: 0px 0px 10px white; */
}

.itm-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.itm:hover .itm-inner{
  transform: rotateY(180deg);
}

.front, .back{
  position: absolute;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
}

.back{
  transform: rotateY(180deg);
  background-color: rgb(111, 111, 111);
}

.project-img{
  width: 300px;
  height: 200px;
}

.short-des{
  padding: 10px;
  text-align: left;
}
